<h1 class = "text-center text-shadow mt-3"><%= pluralize(@articles.count, "Search Result") %></h1>

<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><%= sort_link(:title, "Title") %></th>
        <th><%= sort_link(:description, "Article") %></th>
        <th><%= sort_link(:username, "Users") %></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article %></td>
          <td><%= article.description.truncate_words(25) %></td>
          <td><%= link_to User.find(article.user_id).username, User.find(article.user_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>