<% obj.each do |article| %>
  <div class = "row justify-content-center">
    <div class="col-8 mt-3 mb-4">
      <div class="card text-center">
        <div class="card text-center shadow bg-white rounded">
          <div class="card-header shadow bg-white rounded font-italic">
            <% if article.user %>
              by <%= link_to article.user.username, user_path(article.user) %>
            <% else %>
              Unknown
            <% end %>
          </div>
          <div class="card-body card-background">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to "View", article_path(article), class: "btn btn-outline-success button-margin" %>
            <% if logged_in? && article.user == current_user %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info button-margin" %>
              <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger button-margin", method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
          </div>
          <div class="card-footer shadow bg-white rounded text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago,
            edited <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
