<div class="container"> 
  <div class = "row justify-content-center">
    <div class = "col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: "shadow p-3 mb-3 rounded", id: "form-style", local: true) do |f| %>
        <div class = "form-group">
          <%= f.label :title, class: "col-form-label" %>
          <div>
            <%= f.text_field :title, class: "form-conrol col-12", placeholder: "Enter Title Here" %>
          </div>
        </div>

        <div class = "form-group">
          <%= f.label :description, class: "col-form-label" %>
          <div>
            <%= f.text_area :description, class: "form-control shadow rounded", rows: 10, placeholder: "Enter Descirption Here" %>
          </div>
        </div>

        <div class = "form-group">
          <%= f.submit class: "btn btn-info float-right" %>
        </div>
      <% end %>
    </div>

    <% if params[:action] == "new" || params[:action] == "create" %>
      <%= link_to '[ Cancel and return to articles listing ]', @article, class: "text-secondary mb-3" %>
    <% elsif params[:action] == "edit" || params[:action] == "update" %>
      <%= link_to '[ Cancel changes and return to article ]', @article, class: "text-secondary mb-3" %>
    <% end %>
  </div>
</div>