<div id = "page-content">
  <h1 class = "text-center text-shadow mt-3">Showing Article</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<p>
  <%= link_to 'Back to Articles', articles_path %> |
  <%= link_to 'Edit this article', edit_article_path(params[:id]) %> |
  <%= link_to 'Delete this article', article_path(params[:id]), method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %>
</p>

</div>