<h2 class = "text-center text-shadow mt-3"><%= @article.title %></h2>
<div class = "row justify-content-center">
  <div class="col-8 mt-3 mb-4">
    <div class="card text-center">
      <div class="card text-center shadow bg-white rounded">
        <div class="card-header shadow bg-white rounded font-italic">
          by Alex Domin
        </div>
        <div class="card-body" id = "card-background">
          <div class = "card-text text-left"><%= simple_format(@article.description) %></div>
          </br>
          <hr>
          <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info btn-sm" %>
          <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger btn-sm", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <div class="card-footer shadow bg-white rounded text-muted">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
          edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
      </div>
    </div>
    <div class = "text-center mt-3">
      <%= link_to '[ Return to articles listing ]', articles_path, class: "text-secondary mb-3" %>
    </div>
  </div>
</div>