<h1 class = "text-center text-shadow mt-3"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<% if logged_in? && current_user.admin? %>
  <div class = "text-center">
    <%= link_to "Delete Account", user_path(@user), class: "btn btn-outline-danger mt-4", method: :delete, 
    data: { confirm: "Are you sure you want to delete this user and all articles associated with this user?" } %>
  </div>
<% end %>

<h3 class = "text-center text-shadow mt-3">Contributions</h3>

<div class="apple_pagination">
  <%= will_paginate @user_articles, :container => false %>
</div>

<%= render 'articles/article', obj: @user_articles %>

<div class="apple_pagination">
  <%= will_paginate @user_articles, :container => false %>
</div>

<div class = "text-center mb-3">
  <%= link_to '[ View all bloggers ]', users_path, class: "text-dark" %>
  <%= link_to '[ View all articles ]', articles_path, class: "text-dark" %>
</div>
