<h1 class = "text-center text-shadow mt-3">Category: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <h2 class = "text-center"><%= link_to 'Edit Category', edit_category_path(@category), class: "btn btn-light shadow bg-white rounded text-secondary", id: "card-background"%></h2>
<% end %>

<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article', obj: @articles %>

<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
